@use "../util/functions" as f;
@use "../util/breakpoints" as u;

.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: f.rem(24);

  &__card {
    display: flex;
    flex-direction: column;
    gap: f.rem(20);
    padding: f.rem(28);
    border-radius: 0.3rem;
    background-color: var(--clr-card);
    position: relative;
    cursor: pointer;
    transition: all 0.15s;

    &:hover {
      background-color: var(--clr-card-hover);
    }
  }

  @include u.breakpoint-up("mobile") {
    grid-template-columns: repeat(2, 1fr);
  }

  @include u.breakpoint-up("desktop") {
    grid-template-columns: repeat(4, 1fr);
  }
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: f.rem(8);
}

.followers {
  text-align: center;

  &__text {
    text-transform: uppercase;
    letter-spacing: 0.1rem;
  }
}

.overview {
  .flex {
    justify-content: space-between;
  }
}

[data-platform="facebook"] {
  border-top: 5px solid var(--clr-facebook);
}

[data-platform="twitter"] {
  border-top: 5px solid var(--clr-twitter);
}

[data-platform="instagram"]::before {
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  top: 0;
  height: 5px;
  background: linear-gradient(125deg, var(--clr-instagram1), var(--clr-instagram2));
  border-radius: 5px 5px 0 0;
}

[data-platform="instagram"] {
  padding-top: calc(f.rem(28) + 5px);
}

[data-platform="youtube"] {
  border-top: 5px solid var(--clr-youtube);
}

.stats {
  font-size: .75rem;
  font-weight: var(--fw-bold);

  &__up {
    color: var(--clr-lime);
  }

  &__down {
    color: var(--clr-red);
  }
}