@use "../util/functions" as f;

a,
a:visited,
a:focus {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--clr-text1);
  font-weight: var(--fw-bold);
}

h3 {
  font-size: 3.5rem;
}

h4 {
  font-size: 2rem;
}

h2 {
  margin-block-start: f.rem(48);
  margin-block-end: f.rem(28);
}
